<h1>  <%= link_to "Twitter",users_home_path%></h1>
<div>
	<h2>
 		<%=@user.name%>
		<h3>
			@<%= @user.username%>
    </h3>
	</h2>
  <h3><%= @user.user_bio%></h3>
</div>
<div class="stats">
  <a href="<%= following_user_path(@user) %>">
    <strong id="following" class="stat">
      <%= @user.following.count %>
    </strong>
    Following
  </a>
  <a href="<%= followers_user_path(@user) %>">
    <strong id="followers" class="stat">
      <%= @user.followers.count %>
    </strong>
    Followers
  </a>
</div>
<%= link_to "Edit profile", edit_user_registration_path%>
<%= link_to "Show Profile", users_path(@user)%>
<%= link_to "Logout", destroy_user_session_path, :method => :delete %>
<div>
  <%= render 'newtweet' %>
</div>
<h2>Tweets</h2>
<% @user.tweets.reverse_each do |tweet| %>

  <p>
    <strong>
    <%=@user.name  %>
    <%=tweet.created_at  %>
    </strong>
    <%= tweet.tweet %>
    <%= link_to 'Delete', tweet,
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
  </p>
<% end %>



