<h1>  <%= link_to "Twitter",users_home_path%></h1>
<div>
  <h2>
    <%=@user.name%>
    <h3>
      @<%= @user.username%>
    </h3>
  </h2>
  <h3><%= @user.user_bio%></h3>
</div>
<div class="stats">
  <a href="<%= following_user_path(@user) %>">
    <strong id="following" class="stat">
      <%= @user.following.count %>
    </strong>
    Following
  </a>
  <a href="<%= followers_user_path(@user) %>">
    <strong id="followers" class="stat">
      <%= @user.followers.count %>
    </strong>
    Followers
  </a>
</div>

<div>
  <% if @user == current_user %>
    <%= link_to "Edit profile", edit_user_registration_path%>
  <% end %>
  <% unless @user == current_user%>
      <%= form_for(current_user.active_relationships.build) do |f| %>
      <div>
        <%= hidden_field_tag :followed_id, @user.id %>
      </div>
      <% if current_user.following?(@user) %>
        <%= f.submit "Follow", class: "btn btn-primary" %>
      <% end %>
    <%end%>
  <% end %>
  <%= link_to "Show Profile", users_path(@user)%>
  <% if @user == current_user %>
    <%= link_to "Logout", destroy_user_session_path, :method => :delete %>
  <% end %>
</div>
<% if @user == current_user%>
<div>
  <%= render 'newtweet' %>
</div>
<% end %>
<h2>Tweets</h2>
<% @user.tweets.reverse_each do |tweet| %>

  <p>
    <strong>
    <%=@user.name  %>
    <%=tweet.created_at  %>
    </strong>
    <%= tweet.tweet %>
    <% if @user == current_user %>
    <%= link_to 'Edit', edit_tweet_path(tweet) %>
    <%= link_to 'Delete', tweet,
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
    <% end %>
  </p>
<% end %>