
<h1>  <%= link_to "Twitter",users_home_path%></h1>
<%= form_for @user do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= @user.name %>
  </p>
 
  <p>
    <%= f.label :username %><br>
    <%= @user.username %>
  </p>

  <p>
    <%= f.label :email %><br />
    <%= @user.email %>
  </p>

  <p>
    <%= f.label :phone_number %><br />
    <%= @user.phone_number %>
  </p>

  <p>
    <%= f.label :date_of_birth %><br />
    <%= @user.date_of_birth %>
  </p>

  <p>
    <%= f.label :country %><br />
    <%= @user.country %>
  </p>

  <p>
    <%= f.label :gender %><br />
    <% if @user.is_female %>
    <%= "Female"%>
    <% else %> 
    <%= "Male"%>              
    <% end %>
  </p>

<% end %>



<%= link_to "Back", :back %>