<h1>  <%= link_to "Twitter", user_home_path%></h1>
<div>
  <h2>
    <%=link_to current_user.name, user_index_path%>
    <%= link_to "Logout", destroy_user_session_path, :method => :delete %>
  </h2>
</div>
<div>
  <h2>Tweets</h2>
    <% @tweets.reverse_each do |tweet| %>
    <% current_user.followers.each do |follow|%>
      <% follow %>
    <% end %>
      <% if current_user.following(tweet.user_id) || current_user.id == tweet.user_id %>
        <p>
          <strong>
          <% person = User.find(tweet.user_id)  %>
          <%= person.username  %>
          <%=tweet.created_at  %>
          </strong>
          <%= tweet.tweet %>
          <%= link_to 'Delete', tweet,
                   method: :delete,
                   data: { confirm: 'Are you sure?' } %>
        </p>
      <% end -%>
    <% end %>
</div>
<div>
  <%= link_to "Users", user_all_path%>
</div>
